.sign-in-title[b-mrs3wc6fxg] {
    font-size: 45px;
    line-height: 140px;
    margin-bottom: 0px;
    height: 120px;
}

.label[b-mrs3wc6fxg] {
    padding-left: 30px;
}

.input-position[b-mrs3wc6fxg] {
    padding-left: 15px;
    padding-right: 35px;
}

.submit-button[b-mrs3wc6fxg] {
    margin: 20px 0px 32px 130px;
    width: 150px;
}

.register-message[b-mrs3wc6fxg] {
    margin: 0px 0px 0px 155px;
}

.logo-container[b-mrs3wc6fxg] {
    width: 400px;
    height: 400px;
    margin-top: 170px;
    margin-left: 20px;
}

.left-col[b-mrs3wc6fxg] {
    padding-left: 25px;
}

.server-message[b-mrs3wc6fxg] {
    width: 1000px;
    position:absolute;
}
