.title[b-iafswrmhpd] {
    font-size: 45px;
    margin-top: 20px;
}

.fixed-title[b-iafswrmhpd] {
    padding-left: 70px;
    padding-right: 70px;
    height: 100px
}

.fixed-margin[b-iafswrmhpd] {
    margin: 10px 10px 15px 40px;
}

.fixed-labels[b-iafswrmhpd] {
    padding-left: 30px;
}

.input-fixed-width[b-iafswrmhpd] {
    width: 380px;
}

.fixed-margin-1[b-iafswrmhpd] {
    margin: 10px 10px 15px 10px;
}

.fixed-labels-1[b-iafswrmhpd] {
    padding-left: 30px;
}

.fixed-link[b-iafswrmhpd] {
    margin: 25px 0px 0px 220px;
    height: 50px;
}
