
/*sign In form size and position*/
.sign-in[b-hfdvpby9cg] {
    width: 1000px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-left: 0px;
    padding-right: 0px;
}