@{
    Layout = "User_Home_Layout.cshtml";
}

@section Title{
    <p class="m-0 link-font-size FiraSans-light-font">Dashboard</p>
}

    <div class="flex-row container-fluid">
        <div class="title-padding">
            <p class="title FiraSans-ExtraBold"> Welcome @ViewBag.UserName!</p>
        </div>
    </div>