.new-activity {
    width: 1000px;
    height: 500px;
    position:absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-left: 0px;
    padding-right: 0px;
    margin: 5px, 5px, 5px, 5px;
    transition: 0.5s;
}
