.new-activity {
    width: 1150px;
    height: 500px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-left: 0px;
    padding-right: 0px;
    margin: 5px, 5px, 5px, 5px;
    transition: 0.5s;
}

.activity-div {
    padding: 20px 50px 5px 50px;
}

.fixed-labels-1 {
    padding-left: 30px;
}

.activity-button {
    margin-top: 30px;
}

.form-background{
    background: #ffffff;
}

.success {
    width: 1150px;
    height: 500px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-left: 0px;
    padding-right: 0px;
    margin: 5px, 5px, 5px, 5px;
    transition: 0.5s;
}

.error {
    width: 1150px;
    height: 500px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-left: 0px;
    padding-right: 0px;
    margin: 5px, 5px, 5px, 5px;
    transition: 0.5s;
}