<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Personal_Income.styles.css" asp-append-version="true" />
</head>

<body class="background-color-edit">

    <div id="mySidebar" class="sidebar shadow-lg">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a class="FiraSans-light-font" asp-controller="User" asp-action="Profile">Profile</a>
        <a class="FiraSans-light-font" asp-controller="User" asp-action="Dashboard">Dashboard</a>
        <a class="FiraSans-light-font" asp-controller="User" asp-action="New_Activity">Record New Activity</a>
    </div>

    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light bg-white border-bottom shadow-lg py-3 navbar-height">
            <div class="container-fluid navbar-container-height">
                <a class="mx-5 animation" asp-area="" asp-controller="User" asp-action="Dashboard">
                    <div class="logo-image animation" id="main">
                        <img src="~/Assets/Logo_2.png" class="img-fluid" />
                    </div>
                </a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between navbar-container-height">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item no-padding">
                            @RenderSection("Title",false)
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div>
        <button class="openbtn" onclick="openNav()">&#9776;</button>
        <div id="main" class="animation">
            @RenderBody()
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
