/* _content/Personal_Income/Views/Shared/Log_In_And_Register_Layout.cshtml.rz.scp.css */

/*sign In form size and position*/
.sign-in[b-hfdvpby9cg] {
    width: 1000px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-left: 0px;
    padding-right: 0px;
    margin: 5px, 5px, 5px, 5px;
}

.error[b-hfdvpby9cg] {
    width: 1000px;
    height: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-left: 0px;
    padding-right: 0px;
    margin: 5px, 5px, 5px, 5px;
}
/* _content/Personal_Income/Views/Sign_In/Sign_In.cshtml.rz.scp.css */
.sign-in-title[b-mrs3wc6fxg] {
    font-size: 45px;
    line-height: 140px;
    margin-bottom: 0px;
    height: 120px;
}

.label[b-mrs3wc6fxg] {
    padding-left: 30px;
}

.input-position[b-mrs3wc6fxg] {
    padding-left: 15px;
    padding-right: 35px;
}

.submit-button[b-mrs3wc6fxg] {
    margin: 20px 0px 32px 130px;
    width: 150px;
}

.register-message[b-mrs3wc6fxg] {
    margin: 0px 0px 0px 155px;
}

.logo-container[b-mrs3wc6fxg] {
    width: 400px;
    height: 400px;
    margin-top: 170px;
    margin-left: 20px;
}

.left-col[b-mrs3wc6fxg] {
    padding-left: 25px;
}

.server-message[b-mrs3wc6fxg] {
    width: 1000px;
    position:absolute;
}
/* _content/Personal_Income/Views/Sign_In/Sign_Up.cshtml.rz.scp.css */
.title[b-iafswrmhpd] {
    font-size: 45px;
    margin-top: 20px;
}

.fixed-title[b-iafswrmhpd] {
    padding-left: 70px;
    padding-right: 70px;
    height: 100px
}

.fixed-margin[b-iafswrmhpd] {
    margin: 10px 10px 15px 40px;
}

.fixed-labels[b-iafswrmhpd] {
    padding-left: 30px;
}

.input-fixed-width[b-iafswrmhpd] {
    width: 380px;
}

.fixed-margin-1[b-iafswrmhpd] {
    margin: 10px 10px 15px 10px;
}

.fixed-labels-1[b-iafswrmhpd] {
    padding-left: 30px;
}

.fixed-link[b-iafswrmhpd] {
    margin: 25px 0px 0px 220px;
    height: 50px;
}
/* _content/Personal_Income/Views/User/Dashboard.cshtml.rz.scp.css */
.title[b-l9gtv59e9a]{
    font-size: 50px;
}

.title-padding[b-l9gtv59e9a]{
    margin-left: 100px;
}
/* _content/Personal_Income/Views/User/New_Activity.cshtml.rz.scp.css */
.new-activity[b-zwk0x34xi6] {
    width: 1150px;
    height: 500px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-left: 0px;
    padding-right: 0px;
    margin: 5px, 5px, 5px, 5px;
    transition: 0.5s;
}

.activity-div[b-zwk0x34xi6] {
    padding: 20px 50px 5px 50px;
}

.fixed-labels-1[b-zwk0x34xi6] {
    padding-left: 30px;
}

.activity-button[b-zwk0x34xi6] {
    margin-top: 30px;
}

.form-background[b-zwk0x34xi6]{
    background: #ffffff;
}

.success[b-zwk0x34xi6] {
    width: 1150px;
    height: 500px;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-left: 0px;
    padding-right: 0px;
    margin: 5px, 5px, 5px, 5px;
    transition: 0.5s;
}

.error[b-zwk0x34xi6] {
    width: 1150px;
    height: 500px;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-left: 0px;
    padding-right: 0px;
    margin: 5px, 5px, 5px, 5px;
    transition: 0.5s;
}

.error-msg[b-zwk0x34xi6] {
    height: 100px;
}

.success-msg[b-zwk0x34xi6] {
    height: 100px;
}
/* _content/Personal_Income/Views/User/Profile.cshtml.rz.scp.css */
/* _content/Personal_Income/Views/User/User_Home_Layout.cshtml.rz.scp.css */
.btn-primary[b-ex545kcm59] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active[b-ex545kcm59], .nav-pills .show > .nav-link[b-ex545kcm59] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top[b-ex545kcm59] {
    border-top: 1px solid #e5e5e5;
}

.border-bottom[b-ex545kcm59] {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-ex545kcm59] {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-ex545kcm59] {
    font-size: 1rem;
    line-height: inherit;
}

.footer[b-ex545kcm59] {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.navbar-height[b-ex545kcm59]{
    height: 100px;
}

.navbar-container-height[b-ex545kcm59]{
    height: 67px;
}


.logo-image[b-ex545kcm59] {
    height: 95px;
    width: 100px;
    overflow: hidden;
    margin-top: -6px;
}
